@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", serif;
	background-color: #f3f4f6;
}

.overlay {
	display: none;
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 40;
}

.overlay.show {
	display: block;
}

.topbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 1rem 2rem;
	min-height: 75px;
	max-height: fit-content;
	width: 100%;
	flex-wrap: wrap;
	gap: 1rem;
	position: fixed;
	top: 0;
	z-index: 30;
}

.logo {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2rem;
	width: 163px;
	height: 54px;
}

.logo h1 {
	font-size: 13px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.search-bar {
	width: 100%;
	max-width: 490px;
	height: 41px;
	background-color: rgba(115, 112, 112, 0.1);
	display: flex;
	align-items: center;
	padding-left: 1rem;
	border-radius: 2px;
	gap: 0.5rem;
}

.search-bar input {
	background-color: transparent;
	border: none;
	color: #737070;
	width: 100%;
	height: 100%;
}

.profile-section {
	display: flex;
	align-items: center;
	gap: 26px;
}

.call-button {
	width: 134px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	padding: 8px 13px;
	border-radius: 2px;
	background-color: #9c9696;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
}

.pin-button {
	height: 35px;
	width: 35px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.avatar {
	width: 42px;
	height: 42px;
	border-radius: 3px;
	cursor: pointer;
}

.sidebar {
	position: fixed;
	top: 75px;
	left: 0;
	height: calc(100vh - 75px);
	background: #fff;
	color: #e5e5e5;
	overflow: hidden;
	z-index: 50;
	width: 86px;
}

.sidebar.expanded {
	width: 256px;
}

.toggle-button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.75rem;
	background: none;
	border: none;
	color: black;
	cursor: pointer;
	width: 100%;
	position: absolute;
	top: 0;
	left: 20px;
}

.img-rotate img {
	transform: rotate(180deg);
}

.mobile-close-button {
	display: none;
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #111827;
	z-index: 2;
}

.nav-menu {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 1rem;
}

.nav-item {
	background-color: transparent;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #222020;
	width: 100%;
	height: 44px;
	padding: 10px 12px;
	gap: 12px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-item:hover,
.active {
	background-color: #f2f2f2;
}

.badges {
	width: 22px;
	height: fit-content;
	border-radius: 3px 3px 3px 0;
	background-color: #ee4136;
	text-align: center;
	color: #fff;
	padding: 1px;
}

.badges p {
	font-size: 9px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -0.03px;
	text-align: center;
}

.nav-item-submenu {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.submenu-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 1.5rem;
}

.hidden {
	display: none;
}

.line {
	height: 176px;
	width: 2px;
	background-color: #ee4136;
	margin-right: 16px;
}

.sub-menu {
	color: #222020;
	list-style: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.sub-menu li {
	width: 172px;
	height: 32px;
	padding: 8px 12px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 10px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0.05em;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sub-menu li:hover {
	background-color: #f2f2f2;
}

.sub-menu li a {
	color: #222020;
	text-decoration: none;
}

.nav-icon {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-title {
	margin-left: 0.5rem;
	opacity: 0;
	transition: opacity 0s;
}

.expanded .nav-title {
	opacity: 1;
}

.dashboard {
	margin-left: 86px;
	padding-left: 1rem;
	transition: margin-left 0.2s ease-in-out;
	min-height: 100vh;
	margin-top: 75px;
}

.dashboard.expanded {
	margin-left: 256px;
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 420px;
}

.content-container {
	width: 100%;
	background-color: coral;
}

.notification-bar {
	width: 420px;
	background-color: brown;
}

@media (max-width: 640px) {
	.topbar {
		position: relative;
		top: auto;
	}

	.sidebar {
		transform: translateX(-100%);
		top: 0;
		height: 100vh;
	}

	.sidebar.expanded {
		transform: translateX(0);
	}

	.mobile-close-button {
		display: block;
	}

	.dashboard {
		margin-left: 0;
		padding: 1rem;
		margin-top: 0;
	}

	.dashboard.expanded {
		margin-left: 0;
	}

	.toggle-button {
		display: none;
	}
}
